# Visual Studio cache
.vs/

# Build output
Debug/
Release/
x64/
x86/

# Compiled objects
*.obj
*.exe
*.pdb
*.ilk
*.lib

# User-specific files
*.user

# output files
*.txt

# CMake
CMakeFiles/
CMakeCache.txt
